<h1>Time Entries</h1>

<p>
  <strong>Developer Name:</strong>
  <%= @timeentry.developer.name %>
</p>


<p>
  <strong>Project Name:</strong>
  <%= @timeentry.project.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @timeentry.duration %>
</p>

<p>
  <strong>Date:</strong>
  <%= @timeentry.date %>
</p>
